{% extends 'layouts/index.html' %}

{% block content %}
    <style type="text/css">
    .products {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    </style>
<!--    <div class="search">-->
<!--        <form action="/posts/" method="get">-->
<!--            <input type="text" name="text">-->
<!--            <input type="sumbit" value="Search">-->
<!--        </form>-->
<!--    </div>-->
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ products.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ products.created_date }}</h6>
                   <a href="/posts/{{ product.id }}/" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}