{% extends 'layouts/index.html' %}

{% block content %}
  <style type="text/css">
        .products {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin-left: 10%;
            flex-wrap: wrap;
            padding: 10px;
        }
    </style>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h6 class="card-subtitle">{{ products.created_date }}</h6>
                    <a href="#" class="card-link">More</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}